@font-face {
    font-family: 'PF Beau Sans Pro';
    src: local('PF Beau Sans Pro Light'), local('PF-Beau-Sans-Pro-Light'),
        url('PFBeauSansPro-Light.woff2') format('woff2'),
        url('PFBeauSansPro-Light.woff') format('woff'),
        url('PFBeauSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

body{
    background-color: #0d120e;
}


/* barra navegacion*/

#barranavegacion{
    font-family: 'PF Beau Sans Pro';
    color: white;
    font-weight: 600;
}
#barranavegacion {
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

#barranavegacion .nombrelogo {
    color: #b3d326;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px;
    font-style: oblique;
}

.logo{
    width: 20%;
    justify-content: flex-start;
}
#menu  {
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
#barranavegacion .categorias  {
    font-weight: 600;
    text-decoration: none;
    gap: 20px;
    font-family: 'PF Beau Sans Pro';
    color: white;
}

#barranavegacion .nombre {
    font-weight: 600;  
    color: white;
}

#barranavegacion .categorias :hover {
    font-weight: 600;  
    color: #b3d326;
}


/* servicios*/

#servicios{
    width: 85%;
    margin: 0 auto;
    padding: 100px 0;
    font-family: 'PF Beau Sans Pro';
}

#servicios .card{
    background-color: transparent;
}

#servicios .card-body {
    background-color: #b3d326;
    border-radius: 5px;
    text-align: left;
    align-items: center;
    color: #0d120e;
    display: flex;
    align-items: center;
}

#servicios .card-title{
font-weight: 700;
padding: 0px;
}

#servicios .card :hover {
    background-color: #0bb656;
    color: white;
    font-weight: 800;
}

#servicios .cards .servicio1{
    background-image: url(../img/produccion.jpg);
    background-size: cover;
    background-position: center;
    width: 260px;
    height: 300px;
    margin: auto;
    display: block;
    margin-bottom: 0px;
    border-radius: 15px;

    flex-basis: 270px;
    max-width: 250px;
    flex-grow: 1;
    margin-bottom: 1px;
}

/* baner 1*/
#baner {
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
}
#baner .contacto{
    font-family: 'PF Beau Sans Pro';
    background: linear-gradient( to bottom ,#d3f36b, #4c8e17);

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 0;
    border-radius: 10px;
}
#baner .frase{
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 2px #555658;
    padding:  20px 0;
}
#baner h4 {
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 2px #555658;
    padding: 0px;
}
#baner .frase :hover{
    transform: scale(1.05);
    transition: all 300ms;
    font-weight: 700;
}

#baner .frase .frase1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
}
#baner .frase .frase2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 0;
}

#baner .datos{
   
    width: auto;
    height: auto ;
    margin:  0;
    padding: 30px 50px;
    border-radius: 10px;
}
#baner .datos :hover{
    transition: all 300ms;

    transform: scale(1.05);
}
#baner .icono{
    margin-right: 20px;
}

#baner .datos .dato1 {
    padding: 10px;
    text-decoration: none;
}
#baner .datos .dato2 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}








.prueba{ 
background: linear-gradient(to bottom right,#d3f36b, #b3d326);
background: linear-gradient(to bottom right,#0bb656, #538c51);

}


#servicios4 {
    width: 85%;
    margin: 0 auto;
}


/* baner 2*/

#baner2 {
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
}
#baner2 .trabajos{
    font-family: 'PF Beau Sans Pro';
    background: linear-gradient( to bottom ,#d3f36b, #4c8e17);

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 0;
    border-radius: 10px;
    padding: 20px 0;
}
#baner2 h3 {
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px 1px #0d120e;
}
#baner2 h6 {
    color: #555658;
    color: black;
    font-weight: 800;
    padding: 0px;
    text-transform: uppercase;
}
#baner2 .frase1{
    margin-top: 20px;
}